@(message: String)

@main("REMET") {

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1"></div>
        <div class="span3">
            <div class="row-fluid">
                <h1>Metrics</h1>
                <div class="alert alert-block" data-bind="visible: metricsList().length == 0">
                    Connect to a server to see metrics
                </div>
                <div class="well" data-bind="visible: metricsList().length > 0">
                    <ul data-bind="template: {name: 'categories_template', foreach: metricsList}">
                    </ul>
                </div>
                <div class="well" data-bind="visible: connections().length > 0">
                    <h3>Connections</h3>
                    <ul data-bind="foreach: {data: connections}">
                        <li><span data-bind="text: server"></span>
                            <span class="label-info" data-bind="visible: status() != 'connected', text: status"></span>
                            <a href="#" data-bind="click: $root.removeConnection">x</a>
                            <a href="#" data-bind="click: $root.reconnect, text: reconnectString"></a>
                        </li>

                    </ul>
                </div>
                <div class="row-fluid">
                    <div class="span12">
                        <form class="form-inline" data-bind="submit: connect">
                            <input class="input-medium" type="text" id="connectTo" placeholder="Host">
                            <button class="btn-info btn" type="submit">Connect</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="span8">
            <h1>Data</h1>
            <div data-bind="foreach: {data: graphs, afterAdd: startGraph}" class="row-fluid">
                <div class="span4">
                    <div data-bind="attr: {'id': id}" class="graph"></div>
                    <a href="#" class="span3" data-bind="click: $root.removeGraph">Remove</a>
                </div>
            </div>
            <div class="row-fluid" data-bind="visible: graphs().length > 0">
                <div class="span1">
                    <i class="icon-pause" data-bind="visible: !paused(), click: togglePause"></i>
                    <i class="icon-play" data-bind="visible: paused, click: togglePause"></i>
                </div>
                <div class="span11">
                    <div data-bind="slider: {range: true, values: [570000, 600000], min: 15000, max: 600000, step: 500, slide: sliderChanged, rangeDrag: true}" id="durationSlider"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="categories_template">
    <li data-bind="attr: {'id' : 'category_' + id()}">
        <span data-bind="text: display, click: expandMe"></span>
        <ul data-bind='visible: expanded, template: { name: "categories_template", foreach: children}'>
        </ul>

    </li>
</script>

<script src="@routes.Assets.at("javascripts/app.js")"></script>
}